USE [master]
GO
/****** Object:  Database [social_network]    Script Date: 3/6/2026 9:56:01 PM ******/
CREATE DATABASE [social_network]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'social_network', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER1\MSSQL\DATA\social_network.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'social_network_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER1\MSSQL\DATA\social_network_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [social_network].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [social_network]
GO
/****** Object:  Table [dbo].[account]    Script Date: 3/6/2026 9:56:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[account](
	[account_id] [int] IDENTITY(1,1) NOT NULL,
	[account_name] [nvarchar](100) NOT NULL,
	[password] [varchar](255) NOT NULL,
	[email] [varchar](150) NOT NULL,
	[photo_path] [varchar](255) NULL,
	[photo_background] [nvarchar](500) NULL,
	[date_of_birth] [date] NULL,
	[gender] [tinyint] NULL,
	[bio] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[account_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[conversation_members]    Script Date: 3/6/2026 9:56:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[conversation_members](
	[conversation_id] [int] NOT NULL,
	[account_id] [int] NOT NULL,
	[joined_at] [datetime] NULL,
	[title] [nvarchar](255) NULL,
	[created_at] [datetime] NULL,
	[conversation_member_id] [int] IDENTITY(1,1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[conversation_member_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[conversations]    Script Date: 3/6/2026 9:56:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[conversations](
	[conversation_id] [int] IDENTITY(1,1) NOT NULL,
	[is_group] [bit] NOT NULL,
	[title] [nvarchar](255) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[conversation_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[friendships]    Script Date: 3/6/2026 9:56:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[friendships](
	[friendship_id] [int] IDENTITY(1,1) NOT NULL,
	[requester_id] [int] NOT NULL,
	[addressee_id] [int] NOT NULL,
	[status] [nvarchar](20) NOT NULL,
	[create_at] [datetime] NULL,
	[update_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[friendship_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[messages]    Script Date: 3/6/2026 9:56:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[messages](
	[message_id] [int] IDENTITY(1,1) NOT NULL,
	[conversation_id] [int] NOT NULL,
	[sender_id] [int] NOT NULL,
	[content] [nvarchar](max) NULL,
	[message_type] [nvarchar](50) NULL,
	[created_at] [datetime] NULL,
	[parent_message_id] [int] NULL,
	[is_read] [bit] NULL,
	[is_remove] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[message_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 3/6/2026 9:56:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Type] [nvarchar](50) NOT NULL,
	[Content] [nvarchar](255) NOT NULL,
	[SenderId] [int] NOT NULL,
	[ConsumerId] [int] NOT NULL,
	[Date] [datetime] NULL,
	[IsRead] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[post_comments]    Script Date: 3/6/2026 9:56:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[post_comments](
	[comment_id] [int] IDENTITY(1,1) NOT NULL,
	[post_id] [int] NOT NULL,
	[account_id] [int] NOT NULL,
	[content] [nvarchar](max) NOT NULL,
	[parent_comment_id] [int] NULL,
	[create_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[comment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[post_like]    Script Date: 3/6/2026 9:56:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[post_like](
	[like_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[post_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[like_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[post_media]    Script Date: 3/6/2026 9:56:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[post_media](
	[media_id] [int] IDENTITY(1,1) NOT NULL,
	[post_id] [int] NOT NULL,
	[media_url] [nvarchar](500) NOT NULL,
	[media_type] [varchar](50) NOT NULL,
	[create_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[media_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[post_shares]    Script Date: 3/6/2026 9:56:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[post_shares](
	[ps_id] [int] IDENTITY(1,1) NOT NULL,
	[post_id] [int] NOT NULL,
	[account_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ps_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[posts]    Script Date: 3/6/2026 9:56:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[posts](
	[post_id] [int] IDENTITY(1,1) NOT NULL,
	[account_id] [int] NOT NULL,
	[content] [nvarchar](max) NULL,
	[post_type] [nvarchar](50) NULL,
	[create_at] [datetime] NULL,
	[update_at] [datetime] NULL,
	[is_remove] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[post_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[profile]    Script Date: 3/6/2026 9:56:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[profile](
	[profile_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[full_name] [nvarchar](150) NOT NULL,
	[phone] [varchar](20) NULL,
	[gender] [nvarchar](10) NULL,
	[date_of_birth] [date] NULL,
	[avatar_url] [varchar](255) NULL,
	[address] [nvarchar](255) NULL,
	[bio] [nvarchar](max) NULL,
	[create_at] [datetime] NULL,
	[update_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[profile_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[account] ON 

INSERT [dbo].[account] ([account_id], [account_name], [password], [email], [photo_path], [photo_background], [date_of_birth], [gender], [bio]) VALUES (1, N'nguyenducdung', N'Dung@123', N'duccdung999@gmail.com', NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[account] ([account_id], [account_name], [password], [email], [photo_path], [photo_background], [date_of_birth], [gender], [bio]) VALUES (2, N'nguyennam', N'Dung@123', N'duc@gmail.com', NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[account] ([account_id], [account_name], [password], [email], [photo_path], [photo_background], [date_of_birth], [gender], [bio]) VALUES (3, N'string', N'string', N'strinsdsdg', NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[account] OFF
GO
SET IDENTITY_INSERT [dbo].[conversation_members] ON 

INSERT [dbo].[conversation_members] ([conversation_id], [account_id], [joined_at], [title], [created_at], [conversation_member_id]) VALUES (3, 1, CAST(N'2025-09-30T19:40:12.440' AS DateTime), NULL, CAST(N'2025-09-30T19:40:12.440' AS DateTime), 4)
INSERT [dbo].[conversation_members] ([conversation_id], [account_id], [joined_at], [title], [created_at], [conversation_member_id]) VALUES (3, 2, CAST(N'2025-09-30T19:40:12.440' AS DateTime), NULL, CAST(N'2025-09-30T19:40:12.440' AS DateTime), 5)
INSERT [dbo].[conversation_members] ([conversation_id], [account_id], [joined_at], [title], [created_at], [conversation_member_id]) VALUES (6, 10, CAST(N'2025-10-05T11:00:36.337' AS DateTime), NULL, CAST(N'2025-10-05T11:30:36.337' AS DateTime), 205)
SET IDENTITY_INSERT [dbo].[conversation_members] OFF
GO
SET IDENTITY_INSERT [dbo].[conversations] ON 

INSERT [dbo].[conversations] ([conversation_id], [is_group], [title], [created_at]) VALUES (3, 0, N'xxx', CAST(N'2025-09-30T12:40:12.257' AS DateTime))
INSERT [dbo].[conversations] ([conversation_id], [is_group], [title], [created_at]) VALUES (4, 0, NULL, CAST(N'2025-10-05T11:28:52.877' AS DateTime))
INSERT [dbo].[conversations] ([conversation_id], [is_group], [title], [created_at]) VALUES (5, 1, N'Team Dev', CAST(N'2025-10-05T11:28:52.877' AS DateTime))
SET IDENTITY_INSERT [dbo].[conversations] OFF
GO
SET IDENTITY_INSERT [dbo].[friendships] ON 

INSERT [dbo].[friendships] ([friendship_id], [requester_id], [addressee_id], [status], [create_at], [update_at]) VALUES (120, 1, 1023, N'accepted', CAST(N'2025-12-13T15:35:11.763' AS DateTime), CAST(N'2025-12-13T15:35:46.080' AS DateTime))
INSERT [dbo].[friendships] ([friendship_id], [requester_id], [addressee_id], [status], [create_at], [update_at]) VALUES (121, 1, 5, N'pending', CAST(N'2025-12-14T05:52:45.833' AS DateTime), CAST(N'2025-12-14T12:52:45.840' AS DateTime))
INSERT [dbo].[friendships] ([friendship_id], [requester_id], [addressee_id], [status], [create_at], [update_at]) VALUES (122, 1, 1019, N'pending', CAST(N'2025-12-14T05:52:49.173' AS DateTime), CAST(N'2025-12-14T12:52:49.173' AS DateTime))
SET IDENTITY_INSERT [dbo].[friendships] OFF
GO
SET IDENTITY_INSERT [dbo].[messages] ON 

INSERT [dbo].[messages] ([message_id], [conversation_id], [sender_id], [content], [message_type], [created_at], [parent_message_id], [is_read], [is_remove]) VALUES (2005, 3, 1, N'Chào B 👋', N'text', CAST(N'2025-10-05T11:05:36.337' AS DateTime), NULL, 0, 0)
INSERT [dbo].[messages] ([message_id], [conversation_id], [sender_id], [content], [message_type], [created_at], [parent_message_id], [is_read], [is_remove]) VALUES (2006, 3, 11, N'Hello A, chiều nay rảnh?', N'text', CAST(N'2025-10-05T11:06:36.337' AS DateTime), NULL, 0, 0)
INSERT [dbo].[messages] ([message_id], [conversation_id], [sender_id], [content], [message_type], [created_at], [parent_message_id], [is_read], [is_remove]) VALUES (2007, 3, 1, N'Khoảng 5 giờ được nè.', N'text', CAST(N'2025-10-05T11:07:36.337' AS DateTime), NULL, 0, 0)
GO
SET IDENTITY_INSERT [dbo].[messages] OFF
GO
SET IDENTITY_INSERT [dbo].[Notifications] ON 

INSERT [dbo].[Notifications] ([Id], [Type], [Content], [SenderId], [ConsumerId], [Date], [IsRead]) VALUES (1, N'like', N'Người dùng 2 đã thích bài viết của bạn', 2, 1, CAST(N'2025-11-09T01:27:04.570' AS DateTime), 0)
INSERT [dbo].[Notifications] ([Id], [Type], [Content], [SenderId], [ConsumerId], [Date], [IsRead]) VALUES (9, N'friend_request', N'Bạn có lời mời kết bạn từ nguyenducdung', 1, 1023, CAST(N'2025-12-13T15:35:11.763' AS DateTime), 1)
INSERT [dbo].[Notifications] ([Id], [Type], [Content], [SenderId], [ConsumerId], [Date], [IsRead]) VALUES (10, N'post_created', N'Lý trần vinh  đã đăng một bài viết mới', 1023, 1, CAST(N'2025-12-14T01:59:21.147' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[Notifications] OFF
GO
SET IDENTITY_INSERT [dbo].[post_comments] ON 

INSERT [dbo].[post_comments] ([comment_id], [post_id], [account_id], [content], [parent_comment_id], [create_at]) VALUES (1, 11, 2, N'hello', NULL, CAST(N'2025-11-10T10:03:37.127' AS DateTime))
INSERT [dbo].[post_comments] ([comment_id], [post_id], [account_id], [content], [parent_comment_id], [create_at]) VALUES (2, 11, 2, N'chào bạn', 1, CAST(N'2025-11-10T10:03:57.957' AS DateTime))
INSERT [dbo].[post_comments] ([comment_id], [post_id], [account_id], [content], [parent_comment_id], [create_at]) VALUES (3, 34, 1, N'bài này hay đó', NULL, CAST(N'2025-12-14T02:59:25.970' AS DateTime))
SET IDENTITY_INSERT [dbo].[post_comments] OFF
GO
SET IDENTITY_INSERT [dbo].[post_like] ON 

INSERT [dbo].[post_like] ([like_id], [user_id], [post_id]) VALUES (5, 2, 11)
INSERT [dbo].[post_like] ([like_id], [user_id], [post_id]) VALUES (6, 2, 11)
INSERT [dbo].[post_like] ([like_id], [user_id], [post_id]) VALUES (7, 1, 11)
SET IDENTITY_INSERT [dbo].[post_like] OFF
GO
SET IDENTITY_INSERT [dbo].[post_media] ON 

INSERT [dbo].[post_media] ([media_id], [post_id], [media_url], [media_type], [create_at]) VALUES (4, 3, N'http://localhost:5175/uploads/19a6de68-a35f-46b2-a21e-4b3fde056288.png', N'image', CAST(N'2025-09-09T02:52:58.867' AS DateTime))
INSERT [dbo].[post_media] ([media_id], [post_id], [media_url], [media_type], [create_at]) VALUES (5, 4, N'https://localhost:7151/uploads/e7529fce-552d-40fc-b627-f619b5dae765.webp', N'image', CAST(N'2025-09-23T08:16:10.653' AS DateTime))
INSERT [dbo].[post_media] ([media_id], [post_id], [media_url], [media_type], [create_at]) VALUES (6, 5, N'https://localhost:7151/uploads/f8ae86a4-0988-4967-9f08-d914b8a1572c.webp', N'image', CAST(N'2025-09-23T08:16:30.587' AS DateTime))
SET IDENTITY_INSERT [dbo].[post_media] OFF
GO
SET IDENTITY_INSERT [dbo].[post_shares] ON 

INSERT [dbo].[post_shares] ([ps_id], [post_id], [account_id]) VALUES (2, 3, 1)
INSERT [dbo].[post_shares] ([ps_id], [post_id], [account_id]) VALUES (4, 34, 1023)
INSERT [dbo].[post_shares] ([ps_id], [post_id], [account_id]) VALUES (5, 32, 1023)
SET IDENTITY_INSERT [dbo].[post_shares] OFF
GO
SET IDENTITY_INSERT [dbo].[posts] ON 

INSERT [dbo].[posts] ([post_id], [account_id], [content], [post_type], [create_at], [update_at], [is_remove]) VALUES (3, 1, N'string', N'images', CAST(N'2025-09-09T02:52:58.203' AS DateTime), CAST(N'2025-09-09T02:52:58.203' AS DateTime), 0)
INSERT [dbo].[posts] ([post_id], [account_id], [content], [post_type], [create_at], [update_at], [is_remove]) VALUES (4, 1, N'string', N'images', CAST(N'2025-09-23T08:16:10.653' AS DateTime), CAST(N'2025-09-23T08:16:10.653' AS DateTime), 0)
INSERT [dbo].[posts] ([post_id], [account_id], [content], [post_type], [create_at], [update_at], [is_remove]) VALUES (5, 1, N'string', N'images', CAST(N'2025-09-23T08:16:30.587' AS DateTime), CAST(N'2025-09-23T08:16:30.587' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[posts] OFF
GO
SET IDENTITY_INSERT [dbo].[profile] ON 

INSERT [dbo].[profile] ([profile_id], [user_id], [full_name], [phone], [gender], [date_of_birth], [avatar_url], [address], [bio], [create_at], [update_at]) VALUES (1, 1, N'Nguyễn Đức Nam', N'0912345678', N'Nam', CAST(N'1990-05-20' AS Date), N'https://example.com/avatar.jpg', N'123 Đường ABC, Quận Ninh Kiều, Cần Thơ', N'Tôi là một lập trình viên yêu thích công nghệ IT.', CAST(N'2025-08-20T16:54:35.360' AS DateTime), CAST(N'2025-12-14T05:50:40.293' AS DateTime))
INSERT [dbo].[profile] ([profile_id], [user_id], [full_name], [phone], [gender], [date_of_birth], [avatar_url], [address], [bio], [create_at], [update_at]) VALUES (2, 2, N'string', N'string', N'string', CAST(N'2025-09-05' AS Date), N'http://localhost:5175/uploads/b3d09713-3556-4b00-b9d9-4b93bae57761.png', N'string', N'string', CAST(N'2025-09-05T07:36:43.937' AS DateTime), CAST(N'2025-09-05T07:36:43.937' AS DateTime))
INSERT [dbo].[profile] ([profile_id], [user_id], [full_name], [phone], [gender], [date_of_birth], [avatar_url], [address], [bio], [create_at], [update_at]) VALUES (3, 5, N'string', N'string', N'nam', CAST(N'2025-09-13' AS Date), N'http://localhost:5175/uploads/c8f13f9e-1cb5-47ab-b4e5-1c07abf36354.png', N'string', N'string', CAST(N'2025-09-13T09:27:56.400' AS DateTime), CAST(N'2025-09-13T09:27:56.400' AS DateTime))
SET IDENTITY_INSERT [dbo].[profile] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__account__AB6E616463316AEC]    Script Date: 3/6/2026 9:56:01 PM ******/
ALTER TABLE [dbo].[account] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_friendship_pair]    Script Date: 3/6/2026 9:56:01 PM ******/
ALTER TABLE [dbo].[friendships] ADD  CONSTRAINT [UQ_friendship_pair] UNIQUE NONCLUSTERED 
(
	[requester_id] ASC,
	[addressee_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[conversation_members] ADD  DEFAULT (getdate()) FOR [joined_at]
GO
ALTER TABLE [dbo].[conversation_members] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[conversations] ADD  DEFAULT ((0)) FOR [is_group]
GO
ALTER TABLE [dbo].[conversations] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[friendships] ADD  DEFAULT ('pending') FOR [status]
GO
ALTER TABLE [dbo].[friendships] ADD  DEFAULT (getdate()) FOR [create_at]
GO
ALTER TABLE [dbo].[friendships] ADD  DEFAULT (getdate()) FOR [update_at]
GO
ALTER TABLE [dbo].[messages] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[messages] ADD  DEFAULT ((0)) FOR [is_read]
GO
ALTER TABLE [dbo].[messages] ADD  DEFAULT ((0)) FOR [is_remove]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT (getdate()) FOR [Date]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT ((0)) FOR [IsRead]
GO
ALTER TABLE [dbo].[post_comments] ADD  DEFAULT (getdate()) FOR [create_at]
GO
ALTER TABLE [dbo].[post_media] ADD  DEFAULT (getdate()) FOR [create_at]
GO
ALTER TABLE [dbo].[posts] ADD  DEFAULT (getdate()) FOR [create_at]
GO
ALTER TABLE [dbo].[posts] ADD  DEFAULT (getdate()) FOR [update_at]
GO
ALTER TABLE [dbo].[posts] ADD  DEFAULT ((0)) FOR [is_remove]
GO
ALTER TABLE [dbo].[profile] ADD  DEFAULT (getdate()) FOR [create_at]
GO
ALTER TABLE [dbo].[profile] ADD  DEFAULT (getdate()) FOR [update_at]
GO
ALTER TABLE [dbo].[conversation_members]  WITH CHECK ADD FOREIGN KEY([conversation_id])
REFERENCES [dbo].[conversations] ([conversation_id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[conversation_members]  WITH CHECK ADD  CONSTRAINT [FK_acc_members] FOREIGN KEY([account_id])
REFERENCES [dbo].[account] ([account_id])
GO
ALTER TABLE [dbo].[conversation_members] CHECK CONSTRAINT [FK_acc_members]
GO
ALTER TABLE [dbo].[friendships]  WITH CHECK ADD  CONSTRAINT [FK_friendship_addressee] FOREIGN KEY([addressee_id])
REFERENCES [dbo].[account] ([account_id])
GO
ALTER TABLE [dbo].[friendships] CHECK CONSTRAINT [FK_friendship_addressee]
GO
ALTER TABLE [dbo].[friendships]  WITH CHECK ADD  CONSTRAINT [FK_friendship_requester] FOREIGN KEY([requester_id])
REFERENCES [dbo].[account] ([account_id])
GO
ALTER TABLE [dbo].[friendships] CHECK CONSTRAINT [FK_friendship_requester]
GO
ALTER TABLE [dbo].[messages]  WITH CHECK ADD FOREIGN KEY([conversation_id])
REFERENCES [dbo].[conversations] ([conversation_id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[messages]  WITH CHECK ADD FOREIGN KEY([sender_id])
REFERENCES [dbo].[account] ([account_id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[post_comments]  WITH CHECK ADD  CONSTRAINT [FK_postcomments_account] FOREIGN KEY([account_id])
REFERENCES [dbo].[account] ([account_id])
GO
ALTER TABLE [dbo].[post_comments] CHECK CONSTRAINT [FK_postcomments_account]
GO
ALTER TABLE [dbo].[post_comments]  WITH CHECK ADD  CONSTRAINT [FK_postcomments_parent] FOREIGN KEY([parent_comment_id])
REFERENCES [dbo].[post_comments] ([comment_id])
GO
ALTER TABLE [dbo].[post_comments] CHECK CONSTRAINT [FK_postcomments_parent]
GO
ALTER TABLE [dbo].[post_comments]  WITH CHECK ADD  CONSTRAINT [FK_postcomments_post] FOREIGN KEY([post_id])
REFERENCES [dbo].[posts] ([post_id])
GO
ALTER TABLE [dbo].[post_comments] CHECK CONSTRAINT [FK_postcomments_post]
GO
ALTER TABLE [dbo].[post_like]  WITH CHECK ADD  CONSTRAINT [FK_postlikes_post] FOREIGN KEY([post_id])
REFERENCES [dbo].[posts] ([post_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[post_like] CHECK CONSTRAINT [FK_postlikes_post]
GO
ALTER TABLE [dbo].[post_media]  WITH CHECK ADD  CONSTRAINT [FK_postmedia_post] FOREIGN KEY([post_id])
REFERENCES [dbo].[posts] ([post_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[post_media] CHECK CONSTRAINT [FK_postmedia_post]
GO
ALTER TABLE [dbo].[post_shares]  WITH CHECK ADD  CONSTRAINT [FK_postshare_post] FOREIGN KEY([post_id])
REFERENCES [dbo].[posts] ([post_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[post_shares] CHECK CONSTRAINT [FK_postshare_post]
GO
ALTER TABLE [dbo].[posts]  WITH CHECK ADD  CONSTRAINT [FK_posts_account] FOREIGN KEY([account_id])
REFERENCES [dbo].[account] ([account_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[posts] CHECK CONSTRAINT [FK_posts_account]
GO
ALTER TABLE [dbo].[profile]  WITH CHECK ADD  CONSTRAINT [FK_profile_account] FOREIGN KEY([user_id])
REFERENCES [dbo].[account] ([account_id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[profile] CHECK CONSTRAINT [FK_profile_account]
GO
USE [master]
GO
